* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: serif;
}

.yuhblog {
    background-color: pink;
    border-radius: 5px;
    max-width: 600px;
    margin-left: auto;
    margin-right: 1px;
    padding: 24px;
    color: rgb(163, 39, 60);
}

#two-columns {
    display: flex;
    max-width: 800px;
    margin: 50px auto;
}

#sidebar-column {
    /* background-color: lightgreen; */
    width: 250px;
    order: 2;
    padding: 0px 18px;
}

#sticky {
    position: sticky;
    top: 24px;
}

#main-column {
    /* background-color: lightblue; */
    flex: 1;
    order: 1;
    align-items: center;
}

#sidebar-column h2 {
    background-color: pink;
    padding: 12px;
    font-size: 18px;
    color: rgb(163, 39, 60);
    margin: 0px;
    border-radius: 5px 5px 0px 0px;
}

#sidebar-column ul {
    background-color: rgb(252, 241, 242);
    margin: 0px 0px 36px;
    padding: 0px 12px;
    list-style-type: none;
    border: 1px solid pink;
}

#sidebar-column a {
    color: rgb(163, 39, 60);
    text-decoration: none;
}

#sidebar-column li {
    padding: 8px 0px;
    border-bottom: 1px solid pink;
    
}

#sidebar-column li:last-child {
    border-bottom: 0px;
}

img {
    border-radius: 10px;
    border: 2px solid rgb(163, 39, 60);
    width: 550px;

}