@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
}

.single-colomn {
    /* background-color: rgb(177, 235, 177); */
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button {
    text-decoration: none;
    color: black;
    display: inline-block; /* VERY IMPORTANT */
}

.primary {
    background-color: rgb(14, 14, 13);
    color: rgb(237, 250, 237);
    padding: 20px;
    border-radius: 16px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Pixelify Sans", sans-serif; 
}

.secondary {
    color: green;
    border: 3px solid green;
    padding: 12px;
    border-radius: 12px;
    font-weight: bold;
}

.lightcontainer {
    background-color: rgb(255, 254, 252);
    padding: 48px 0px;
}

.darkcontainer {
    background-color: rgb(63, 65, 63);
    color: rgb(255, 254, 252);
    padding: 48px 0px;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding: 20px;
}

h1 {
    padding: 50px 60px;
}